html {
  scroll-behavior: smooth;
}
.footer {
  background: #000;
  color: #fff;
  padding: 40px 40px;
  font-size: 14px;
  line-height: 1.6;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content:space-evenly;
}

.newsletter,
.contact {
  flex: 1 1 280px;
}

.newsletter h4,
.contact h4 {
  font-weight: bold;
  margin-bottom: 6px;
}

.subscribe {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.subscribe input {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: #fff;
}

.subscribe input::placeholder {
  color: #777;
}

.subscribe button {
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  border: 1px solid bisque;
}

.subscribe button:hover {
  background: #ccc;
}
.currency-selector {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  margin-top: 8px;
}

.currency-selector img {
  width: 20px;
  height: 14px;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.currency-selector .caret {
  font-size: 10px;
  color: #ccc;
}

.contact small {
  font-size: 11px;
  color: #bbb;
  display: block;
  margin-top: 6px;
}

hr {
  margin: 40px 0;
  border: 0;
  border-top: 1px solid #333;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.footer-col {
  flex: 1 1 220px;
}

.footer-col h3,
.footer-col h4 {
  margin-bottom: 10px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin: 6px 0;
  color: #ccc;
  cursor: pointer;
}

.footer-col ul li:hover {
  color: #fff;
}

.social-icons img {
  width: 30px;
  margin-right: 12px;
  margin-top: 10px;
}

.payments img {
  width: 45px;
  margin: 8px 8px 0 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
  color: #aaa;
}

/* Responsive */
@media (max-width: 600px) {
  .subscribe {
    flex-direction: column;
  }

  .subscribe button {
    width: 100%;
  }

  .footer-links {
    flex-direction: column;
    gap: 30px;
  }

  .footer-top {
    flex-direction: column;
  }
}
